/* full page edits */

body {
    background: url("../images/michael-wave-G3tRHpENRTs-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: hsl(51, 100%, 50%);
    font-family: fantasy;
}

h2 {
    text-align: center;
    color: rgb(255, 217, 0);
    font-family: serif;
}
/* p {
    background-color: tomato;
    padding: 5px;
    border: black 2px;
    border-style: outset;
    text-align: center;
    font-family: serif;
    font-weight: bold;
} */

/* want to try css */
.devour-burg {
    border-radius: 5px;
    border-style: none;
    height: 50px;
    width: 100px;
    background-color: rgb(11, 194, 11);
    padding: 5px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 24px;
}

.try-burger {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    background-color: tomato;
    padding: 5px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 24px;
}

/* devoured css */
.favorites {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    background-color: tomato;
    padding: 5px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 24px;
}

.del-quote{
    border-radius: 5px;
    border-style: none;
    height: 50px;
    width: 100px;
    background-color: rgb(11, 194, 11);
    padding: 5px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 24px;
}

/* add burger */
#submit-text {
    color: rgb(255, 217, 0);
    font-size: 24px;
    font-family: serif;
}

#add-burg-button {
    width: 200px;
    height: 50px;
    background-color: rgb(11, 194, 11);
    border-radius: 5%;
    border-style: none;
    font-family: serif;
    font-weight: bold;
    font-size: 22px;
    /* margin-top: 25px; */
}

#add-burg-section {
    margin: 20px;
}